* {
    margin: 0px;
    font-family: 'Lato', sans-serif;

}

main {
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content: space-between;
}

body {
    background-color: #e8e4e4;
}