.contact-info-item {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    width: 200px;
}

.contact-info-item>p {
    font-size: 12px;
}

.info-title {
    color: #00457e;
    font-size: 27px;
}

.wrapper-names {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
}

.info-bio {
    margin-top: 8px;
    font-size: 12px;
}

.icons {
    color: #00457e;
    font-size: 16px;
}

.wrapper-contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
}



.title-skills {
    text-transform: uppercase;
    font-size: 12.5px;
    border-bottom: 3px solid #00457e;
    padding-bottom: 5px;

}

.wrapper-studies {
    padding: 5px 0px 0px 10px;
}

.studies-top {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-bottom: 10px;
}

.studies-top>span {
    font-size: 10px;
}

.studies-top > h2 {
    font-size: 20px;
}